.features {
  display: flex;
  flex-direction: row;

  margin-bottom: 211px;
}

.features-img {
  img {
    width: 508px;
    height: 414px;
  }
}

.features-text {
  margin: 55px 0 0 169px;
  h1 {
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    color: #0b132a;
    margin-bottom: 20px;
  }
  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #4f5665;
    margin-bottom: 20px;
  }
}

.features-benefit{
  display: flex;
  column-gap: 10px;
  height: 30px;
  margin-bottom: 15px;
  p{
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #4f5665;
  }
}
