.reviews {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 36px;
  h1 {
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    color: #0b132a;
    margin-bottom: 20px;
  }
  .review-p {
    margin-left: 290px;
    width: 555px;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #4f5665;
    margin-bottom: 60px;
  }
}

.review-cards{
  display: flex;
  justify-content: center;
  column-gap: 30px;
}

.review-card {
  margin-bottom: 60px;

  padding: 30px;

  width: 360px;
  height: auto;

  
  box-sizing: border-box;
  border-radius: 10px;
  border: 2px solid #DDDDDD;

  transition: .3s;
  &:hover{
    border: 2px solid #f53838;
  }
}

.review-profile {
  display: flex;
  column-gap: 20px;
  margin-bottom: 20px;
  img {
    width: 50px;
    height: 50px;
  }
}

.profile-info {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  text-align: left;
  h6 {
    width: 142px;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #0B132A;
  }
  p{
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #4f5665;
    margin-top: -7px;
  }
}

.star{
  margin: 17px 0 0 20px;
  display: flex;
  column-gap: 10px;
  img{
    width: 16px;
    height: 16px;
    margin-top: 6px;
  }
  p{
    font-weight: 400;
font-size: 16px;
line-height: 30px;
color: #0B132A;
  }
}

.review-text{
  text-align: left;
  p{
    font-weight: 400;
font-size: 16px;
line-height: 30px;
  }
}

.card-next{
  cursor: pointer;
  margin-bottom: 86px;
}